<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:replace="layout :: site-head">
        <title>Workshop 2 application</title>
    </head>
    <body>
        <header th:replace="layout :: site-header" />
        <h1>Welcome to Workshop2 application!</h1>
       
        
        <br></br>
        <p><b> Index2 voor de test</b></p>
         <a href="index2@1.html" th:href="@{/index2}">Index 2 voor de test</a>
        <p><b> Account</b></p>
         <a href="aanmakenaccounttype.html" th:href="@{/aanmakenaccounttype}">Aanmaken accounttype</a>
        <br></br>
        <a href="aanmakenaccount.html" th:href="@{/aanmakenaccount}">Aanmaken account</a>
        <br></br>
        <p><b> Klant</b></p>
          <a href="answers/toonklanten.html" th:href="@{/answers/toonklanten}">Toon alle klanten</a>
        <br></br>
          <a href="aanmakenklant.html" th:href="@{/aanmakenklant}">Aanmaken klant</a>
        <br></br>
          <a href="verwijderklant.html" th:href="@{/verwijderklant}">Verwijder klant</a>
        <br></br>
          <a href="wijzigklant.html" th:href="@{/wijzigklant}">Wijzig klant</a>
        <br></br>
          <a href="zoekklantopid.html" th:href="@{/zoekklantopid}">Zoek op idKlant</a>
        <br></br>
          <a href="zoekklantopachternaam.html" th:href="@{/zoekklantopachternaam}">Zoek klant op achternaam</a>
        <br></br>
        <p><b> Artikel</b></p>
        <br></br>
          <a href="anwers/toonartikelen.html" th:href="@{/answers/toonartikelen}">Toon alle artikelen</a>
          <br></br>
          <a href="aanmakenartikel.html" th:href="@{/aanmakenartikel}">Aanmaken artikel</a>
          <br></br>
          <a href="verwijderartikel.html" th:href="@{/verwijderartikel}">Verwijder artikel</a>
          <br></br>
          <a href="wijzigartikel.html" th:href="@{/wijzigartikel}">Wijzig artikel</a>
          <br></br>
          <a href="zoekartikelopid" th:href="@{/zoekartikelopid}">Zoek artikel op idArtikel</a>
          <br></br>
          <a href="zoekartikelopnaam.html" th:href="@{/zoekartikelopnaam}">Zoek artikel op naam</a>
          <p><b> Bestelling</b></p>
          <br></br>
          <a href="toonbestellingenvanidklant.html" th:href="@{/toonbestellingenvanidklant}">Toon alle bestellingen van een idKlant</a>
          <p><b> Maak bestelling</b></p>
          <a href="maaknieuwebestellingvanidklant.html" th:href="@{/maaknieuwebestellingvanidklant}">Maak nieuwe bestelling van idKlant</a>
          <br></br>
          <a href="idbestellingvoegtoeidartikelaantal.html" th:href="@{/idbestellingvoegtoeidartikelaantal}">Voeg idArtikel en aantal toe aan idBestelling</a>
          <br></br>
          <a href="verwijderidartikelidbestelling.html" th:href="@{/verwijderenidartikelidbestelling}">Verwijder idArtikel van idBestelling</a>
          <br></br>
          <a href="verwijderenlegeidbestelling.html" th:href="@{/verwijderenlegeidbestelling}">Verwijder lege idBestelling</a>
          <br></br>
          
          <br></br>
          
           
        
        
       
        
        <footer th:replace="layout :: site-footer" />
    </body>
</html>