<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:replace="layout :: site-head">
        <title>Workshop 2 application</title>
    </head>
    <body>
        <header th:replace="layout :: site-header" />
        <h1>Welcome to Workshop2 application!</h1>
       
        
        <br></br>
        <p><b> Account</b></p>
         <a href="users/login.html" th:href="@{/users/login}">Aanmaken accounttype</a>
        <br></br>
        <a href="users/login.html" th:href="@{/users/login}">Aanmaken account</a>
        <br></br>
        <p><b> Klant</b></p>
          <a href="users/login.html" th:href="@{/users/login}">Toon alle klanten</a>
        <br></br>
          <a href="users/login.html" th:href="@{/users/login}">Aanmaken klant</a>
        <br></br>
          <a href="users/login.html" th:href="@{/users/login}">Verwijder klant</a>
        <br></br>
          <a href="users/login.html" th:href="@{/users/login}">Wijzig klant</a>
        <br></br>
          <a href="users/login.html" th:href="@{/users/login}">Zoek op idKlant</a>
        <br></br>
          <a href="users/login.html" th:href="@{/users/login}">Zoek klant op achternaam</a>
        <br></br>
        <p><b> Artikel</b></p>
        <br></br>
          <a href="users/login.html" th:href="@{/users/login}">Toon alle artikelen</a>
          <br></br>
          <a href="users/login.html" th:href="@{/users/login}">Aanmaken artikel</a>
          <br></br>
          <a href="users/login.html" th:href="@{/users/login}">Verwijder artikel</a>
          <br></br>
          <a href="users/login.html" th:href="@{/users/login}">Wijzig artikel</a>
          <br></br>
          <a href="users/login.html" th:href="@{/users/login}">Zoek artikel op idArtikel</a>
          <br></br>
          <a href="users/login.html" th:href="@{/users/login}">Zoek artikel op naam</a>
          <p><b> Bestelling</b></p>
          <br></br>
          <a href="users/login.html" th:href="@{/users/login}">Toon alle bestellingen van een idKlant</a>
          <p><b> Maak bestelling</b></p>
          <a href="users/login.html" th:href="@{/users/login}">Maak nieuwe bestelling van idKlant</a>
          <br></br>
          <a href="users/login.html" th:href="@{/users/login}">Voeg idArtikel en aantal toe aan idBestelling</a>
          <br></br>
          <a href="users/login.html" th:href="@{/users/login}">Verwijder idArtikel van idBestelling</a>
          <br></br>
          <a href="users/login.html" th:href="@{/users/login}">Verwijder lege idBestelling</a>
          <br></br>
          
          <br></br>
          
           
        
        
        <p><b>Account</b><br></br><br>Aanmaken accountype</br><br>Aanmaken account</br></p>
        <p><b>Klant</b><br></br><br>Toon alle klanten</br><br> Aanmaken klant</br><br> Verwijder klant</br><br> Wijzig klant</br><br> Zoek klant op id</br><br> Zoek klant op achternaam</br></p>
        <p><b>Artikel</b><br></br><br>Toon alle artikelen</br><br>Aanmaken artikel</br><br>Verwijder artikel</br><br>Wijzig artikel</br><br>Zoek artikel op idArtikel</br><br>Zoek artikel op naam</br></p>
        <p><b>Bestelling</b><br></br><br>Geef alle bestellingen van een klant weer</br><br>- Maak bestelling:</br><br>Zoek klant</br><br>Voeg artikelen toe:</br><br>Zoek artikel</br><br>Aantal artikelen</br></p>
        <p>Verwijder artikel van een bestelling</p>
        <p>Verwijder lege bestelling</p>
        <p>Verwijder lege bestelling van een klant</p>
        <p></p>
        
        <footer th:replace="layout :: site-footer" />
    </body>
</html>