<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="layout :: site-head">
  <title>Verwijder artikel</title>
</head>

<body>

<header th:replace="layout :: site-header" />

<h1>Verwijder artikel</h1>

<form method="post">
            <!-- Use th:field to set field 'id' here -->
            <input type="hidden" />
            
            <!-- Use th:field to show *{firstName} -->
            <p>
            <label for="invoer1">id:</label>
            <input type="number" name ="id" min="1" required="true"/>
            </p>
            
            <!-- Use th:field to show *{lastName} -->
            
            
            <!-- Use th:field to show *{lastName} -->
           
            
            
            
            <input type="submit" />
        </form>

<footer th:replace="layout :: site-footer" />

</body>

</html>