<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="layout :: site-head">
  <title>Wijzig artikel</title>
</head>

<body>

<header th:replace="layout :: site-header" />

<h1>Wijzig artikel</h1>

<form method="post">
            <!-- Use th:field to set field 'id' here -->
            <input type="hidden" />
            
            <!-- Use th:field to show *{firstName} -->
            <p>
            <label for="invoer1">idArtikel:</label>
            <input type="number" name ="idArtikel" min="1" required="true"/>
            </p>
            
            <!-- Use th:field to show *{firstName} -->
            <p>
            <label for="invoer2">naam:</label>
            <input type="text" name ="naam" required="true" />
            </p>
            
            <!-- Use th:field to show *{lastName} -->
            <p>
            <label for="invoer3">prijs:</label>
            <input type="number" name ="prijs" required="true" min="0" step="0.01" />
            </p>
            
            <p>
            <label for="invoer4">voorraad:</label>
            <input type="number" name ="voorraad" required="true" min="0" />
            </p>
            
            <!-- Use th:field to show *{lastName} -->
            
            
            
            <!-- Use th:field to show *{lastName} -->
           
            
            
            
            <input type="submit" />
        </form>


<footer th:replace="layout :: site-footer" />

</body>

</html>