<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="layout :: site-head">
  <title>Zoek klant op achternaam</title>
</head>

<body>

<header th:replace="layout :: site-header" />

<h1>Zoek klant op achternaam</h1>

<form method="post">
            <!-- Use th:field to set field 'id' here -->
            <input type="hidden" />
            
            <!-- Use th:field to show *{firstName} -->
            
            
            <!-- Use th:field to show *{lastName} -->
            <p>
            <label for="invoer2">achternaam:</label>
            <input type="text"  name ="achternaam" required="true" />
            </p>
            
            <!-- Use th:field to show *{lastName} -->
           
            
            
            
            <input type="submit" />
        </form>


<footer th:replace="layout :: site-footer" />

</body>

</html>