<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="layout :: site-head">
  <title>Artikel</title>
</head>

<body>

<header th:replace="layout :: site-header" />

<h1>Artikel</h1>

De gegevens van het artikel 

<p th:text="'idArtikel: ' + ${artikel.idArtikel}" />
<p th:text="'naam: ' + ${artikel.naam} + ''" />
<p th:text="'prijs: ' + ${artikel.prijs} + ''" />
<p th:text="'vooraad: ' + ${artikel.voorraad} + ''" />

<footer th:replace="layout :: site-footer" />

</body>

</html>