<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="layout :: site-head">
  <title>Klant</title>
</head>

<body>

<header th:replace="layout :: site-header" />

<h1>Klant</h1>

De gegevens van het klant 

<p th:text="'idKlant: ' + ${klant.idKlant}" />
<p th:text="'voornaam: ' + ${klant.voornaam} + ''" />
<p th:text="'achternaam: ' + ${klant.achternaam} + ''" />
<p th:text="'tussenvoegsel: ' + ${klant.tussenvoegsel} + ''" />
<p th:text="'telefoonnummer: ' + ${klant.telefoonnummer} + ''" />
<p th:text="'emailadres: ' + ${klant.emailadres} + ''" />

<footer th:replace="layout :: site-footer" />

</body>

</html>