<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="layout :: site-head">
  <title>Alle artikelen</title>
</head>

<body>

<header th:replace="layout :: site-header" />

<h1>Alle artikelen</h1>

Hier een lijst van de gevraagde artikelen
<p></p>




<table>
   <th:block th:each="artikel : ${artikelList}">
      <tr>
         <td th:text="${artikel.idArtikel}">...</td>
         <td th:text="${artikel.naam}">...</td>
         <td th:text="${artikel.prijs}">...</td>
         <td th:text="${artikel.voorraad}">...</td>
      </tr>
      
   </th:block>
</table>
<footer th:replace="layout :: site-footer" />

</body>

</html>