<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="layout :: site-head">
  <title>Klant</title>
</head>

<body>

<header th:replace="layout :: site-header" />

<h1>Klant</h1>

De gegevens van het klant 

<table>
    <tr>
           <th>idKlant</th>
           <th>voornaam</th>
           <th>achternaam</th>
           <th>tussenvoegsel</th>
           <th>telefoonnummer</th>
           <th>emailadres</th>
    </tr>
   
       
      <tr>
         <td th:text="${klant.idKlant}">...</td>
         <td th:text="${klant.voornaam}">...</td>
         <td th:text="${klant.achternaam}">...</td>
         <td th:text="${klant.tussenvoegsel}">...</td>
         <td th:text="${klant.telefoonnummer}">...</td>
         <td th:text="${klant.emailadres}">...</td>
      </tr>
</table>

<footer th:replace="layout :: site-footer" />

</body>

</html>