<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="layout :: site-head">
  <title>Alle klanten</title>
</head>

<body>

<header th:replace="layout :: site-header" />

<h1>Alle klanten</h1>
<p></p>
<p></p>

Hier zijn de gevraagde klanten
<p></p>
<p></p>

<table>
    <tr>
           <th>idKlant</th>
           <th>voornaam</th>
           <th>achternaam</th>
           <th>tussenvoegsel</th>
           <th>telefoonnummer</th>
           <th>emailadres</th>
    </tr>
   <th:block th:each="klant : ${klantList}">
       
      <tr>
         <td th:text="${klant.idKlant}">...</td>
         <td th:text="${klant.voornaam}">...</td>
         <td th:text="${klant.achternaam}">...</td>
         <td th:text="${klant.tussenvoegsel}">...</td>
         <td th:text="${klant.telefoonnummer}">...</td>
         <td th:text="${klant.emailadres}">...</td>
      </tr>
      
   </th:block>
</table>

<footer th:replace="layout :: site-footer" />

</body>

</html>